/* Reset styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Body styles */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #d6efd8;
}

/* Container styles */
.container {
  margin: 0 auto;
  background-color: #d6efd8;
}

/* Header styles */

.nav-ul {
  display: flex;
  list-style-type: none;
  flex-direction: row;
  justify-content: center;
  font-size: 20px;
  gap: 32px;
  margin: 32px 0;
  list-style: none;
  font-family: 'Work Sans', sans-serif;
}

.nav-ul li a {
  margin: 0 10px;
  text-decoration: none;
  color: #000;
  font-weight: 600;
}

.nav-ul li a:hover {
  color: #007bff;
}

/* Hero */
.hero {
  display: flex;
  justify-content: space-around;
  margin-top: 108px;
  padding: 90px;
}
.hero-right {
  flex: 1;


}

.btn {
    padding: 24px 40px;
    border-radius: 16px;
    text-decoration: none;
    border: none;
        font-size: 24px;
        font-weight: 600;
        font-family: work sans;
        margin-right: 20px;
        margin-top: 30px;

}

.view-work {
  background-color: #4E5E80;
  color: #F3F2FF;
}

.contact-me {
  background-color: #d6efd8;
  color: #4E5E80;
  border: 4px solid #4E5E80;
}



.btn-hi {
  background-color: #80AF81;
  color: #403930;
  padding: 10px 20px;
  border-radius: 10px;
  text-decoration: none;
  border: none;
    font-size: 24px;
    font-weight: 600;
    padding: 16px 28px;
    font-family: eczar;
}

.btn-hi:hover {
  background-color: #FFDDBF;
  color: #403930;
}

h1{
    font-size: 64px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #403930;
    font-family: eczar;
    margin-top: 24px;

}

.hero-left {
  flex: 2;
  margin-top: 50px;
  margin-left: 100px;
}

main {
    background-color: #95D2B3;
}


.box {
    /* border: 4px solid #4E5E80;
    border-radius: 16px; */
    margin: 20px 200px;
}
#about-me {
    padding: 50px;



}
h2 {
    font-family: eczar;
    font-size: 48px;
    padding: 50px;
    text-align: center;
}

p {
    font-size: 24px;
    font-family: work sans;
    margin-top: 20px;
    text-align:center;
}

h3 {
    font-family: eczar;
    font-size: 36px;
    margin-top: 20px;
    text-align: center;
}

.skill {
    display: grid;
    margin-top: 0px;
    justify-content: space-between;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
    padding: 20px;


}

#skills {
    padding: 10px 150px;
}

li {
    list-style: none ;
}

#languages {
    padding: 10px 150px;
}

#interests {
    padding: 10px 150px;
}


#lang {
    padding: 10px 150px;
    display: grid;
    justify-content: center;
    align-items: center;
}

#lang h2 {
    padding: 0;
}

.code {
 text-align: center;
}

/* Footer styles */


/* Adding a bit of responsiveness */
@media (max-width: 768px) {
    body {
        padding: 10px;
    }

    main {
        padding: 5px;
    }

    section {
        padding: 10px;
    }
}